

/* =================  */
.custom_row{overflow: hidden; display: block; clear:both; margin-right: -45px;}
.custom_row > div{padding-right: 45px; box-sizing: border-box;}
.custom_row .column{}
.custom_row .column-8{width:66%; float: left;}
.custom_row .column-4{width: 33%; float: left;}


.g1-hb-row-normal .header_category_links{display: none;}
.g1-hb-row-2 .header_category_links{display: block;}
.header_category_links .cat_list{display: block;}
.header_category_links .cat_list li{float: left; display: inline-block; margin:0 5px;}
.header_category_links .cat_list li a{color:#000;}
.header_category_links .cat_list li span{display: block; text-align: center; color:#000; font-weight: bold;}
.header_category_links .cat_list li span.icon{}
.header_category_links .cat_list li span.icon img{max-width: 40px;}
.header_category_links .cat_list li span.category_name{font-size: 12px;}



/*============= School Filter ==============*/
.scholl_filter{
  background: #40556A;
  color:#000;
  padding:15px;
  border-radius: 7px;
}
.scholl_filter .select_name {
  color:#fff;
}
.scholl_filter select{width: 100%;color:#000;}
.scholl_filter .single_filter{margin:12px 0 8px 0;}
.scholl_filter .single_filter .select_name{}
.scholl_filter .btn{
  text-transform: unset;
  width: 100%;
  background-color: #fff;
  color:#40556A;
  border:0px solid;
  margin-top: 13px;
}


.page-template-template-schools .search_holder{
  background: url('../img/college.jpeg');
  background-size:cover;
  padding:30px 0;
  position:relative;
  text-align: center;
}
.custom_row{
}

.result_div{color: #fff}
.result_div .archive-title ,.result_div h2{color: #fff !important}

.form_selector {
  background-color: white !important;
  font-size: 13px !important;
  background: url('https://cdn3.iconfinder.com/data/icons/trico-arrows-1/24/ExpandUpDownSmall-512.png') no-repeat right #ddd;
  background-position: 98%;
  padding: 2px 20px 2px 8px;
  ;
  padding-right: 20px;
  background-size: 14px;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  outline: none !important;
  -webkit-border-radius: 4px;
  border: 1px  solid #cccccc;
}

/*============ Pagination ===========*/
/* Starts from here*/
.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
}

.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}

.pagination a:hover{
color:#fff;
background: #3279BB;
}

.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;}

.data_div{display: none;}